{% extends 'layout.html' %}
{% block content %}






<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
        <h1 class="sm:text-3xl text-2xl font-semibold title-font mb-2 text-gray-100">Projects</h1>
        <p class="lg:w-1/2 w-full leading-relaxed text-base text-gray-200">Data Science , Software, Web-Development , Artificial Intelligence, CryptoCurrency</p>
      </div>
      <div class="flex flex-wrap -m-4">
        
            <a href="">
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="p-6 rounded-lg shadow-2xl bg-blue-700">
                      <div class="inline-flex items-center justify-center  text-purple-500 mb-4">
                        <img src="/src/img/lolGoal.png" alt="Company">
                      </div>
                      <h2 class="text-lg text-gray-100 font-medium title-font mb-2">Analytics</h2>
                    <p class="leading-relaxed text-base text-gray-400 text-gray-400">Data Science Projects and analytics related projects</p>
                </div>
           
        </a>
    </div>
    <a href="">
        <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="p-6 rounded-lg shadow-2xl bg-blue-700">
              <div class="inline-flex items-center justify-center  text-purple-500 mb-4">
                <img src="/src/img/lolGoal.png" alt="Company">
              </div>
              <h2 class="text-lg text-gray-100 font-medium title-font mb-2">Analytics</h2>
            <p class="leading-relaxed text-base text-gray-400 text-gray-400">Data Science Projects and analytics related projects</p>
        </div>
   
</a>
        </div>
        <a href="">
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="p-6 rounded-lg shadow-2xl bg-blue-700">
                  <div class="inline-flex items-center justify-center  text-purple-500 mb-4">
                    <img src="/src/img/lolGoal.png" alt="Company">
                  </div>
                  <h2 class="text-lg text-gray-100 font-medium title-font mb-2">Analytics</h2>
                <p class="leading-relaxed text-base text-gray-400 text-gray-400">Data Science Projects and analytics related projects</p>
            </div>
       
    </a>
        </div>
        <a href="">
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="p-6 rounded-lg shadow-2xl bg-blue-700">
                  <div class="inline-flex items-center justify-center  text-purple-500 mb-4">
                    <img src="/src/img/lolGoal.png" alt="Company">
                  </div>
                  <h2 class="text-lg text-gray-100 font-medium title-font mb-2">Analytics</h2>
                <p class="leading-relaxed text-base text-gray-400 text-gray-400">Data Science Projects and analytics related projects</p>
            </div>
       
    </a>
        </div>
        <a href="">
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="p-6 rounded-lg shadow-2xl bg-blue-700">
                  <div class="inline-flex items-center justify-center  text-purple-500 mb-4">
                    <img src="/src/img/lolGoal.png" alt="Company">
                  </div>
                  <h2 class="text-lg text-gray-100 font-medium title-font mb-2">Analytics</h2>
                <p class="leading-relaxed text-base text-gray-400 text-gray-400">Data Science Projects and analytics related projects</p>
            </div>
       
    </a>
        </div>
        <a href="">
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="p-6 rounded-lg shadow-2xl bg-blue-700">
                  <div class="inline-flex items-center justify-center text-purple-500 mb-4">
                    <img src="/src/img/lolGoal.png" alt="Company">
                  </div>
                  <h2 class="text-lg text-gray-100 font-medium title-font mb-2">Artificial Intelligence</h2>
                <p class="leading-relaxed text-base text-gray-400 text-gray-400">Artificial Intelligence And more</p>
            </div>
       
    </a>
        </div>
      </div>
      <button class="flex mx-auto mt-16 text-white bg-purple-500 border-0 py-2 px-8 focus:outline-none hover:bg-purple-600 rounded text-lg">Button</button>
    </div>
  </section>


  <section class="text-gray-700 body-font bg-indigo-600">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-100">1200+</h2>
          <p class="leading-relaxed text-gray-100">Users</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-100">1900+</h2>
          <p class="leading-relaxed text-gray-100">Subscribes</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-100">35+</h2>
          <p class="leading-relaxed text-gray-100">Projects</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-100">80+</h2>
          <p class="leading-relaxed text-gray-100">Mentor</p>
        </div>
      </div>
    </div>
  </section>










{% endblock %}